<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div class="nav-items">
      <div class="nav-item" routerLink="/">Home</div>
      <div class="nav-item" routerLink="starter">Starter</div>
      <!-- <div class="nav-item" routerLink="/buttons">Buttons</div>
      <div class="nav-item" routerLink="/validations">Validations</div>
      <div class="nav-item" routerLink="/checks">Checkboxes & Radios</div>
      <div class="nav-item" routerLink="/calendar">Calendar</div>
      <div class="nav-item" routerLink="/dynamic-forms">Dynamic Forms</div> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
